In [17]:
import numpy as np

### Operations

In [ ]:
incrément += ou *= ou /=
division /
carré **2
reste de la divison euclidienne x%2
quotient x//2

### Boucles for

In [1]:
for i in range(2):
    print(i)

0
1

In [2]:
for i in range(1,4):
    print(i)

1
2
3

In [3]:
for i in range(1,4,2):
    print(i)

1
3

Exercice 1 Boucles for et conditions if

#### Q1 Faire un programme qui compte le nombre de rectanges  qui partent de l'origine compris dans un cube 10x20 dont le aire est >40

### Exercice résolu avec des boucles for

In [14]:
compte=0

for x in range(1,21):
    for y in range(1,11):
        air=x*y
        if air>=40:
            compte+=1
            
print("le compte est =",compte)

le compte est = 110

### Les boucles while

In [5]:
i=0
while i!=4:
    print(i)
    i+=1

0
1
2
3

### Meme exercice qu'avant mais avec une boucle while

In [8]:
x=1
compt=0
while x<=20:
    y=1
    while y<=10:
        air=x*y
        if air>=40:
            compt+=1
        y+=1
    
    x+=1    
print("le compte est =",compt)

le compte est = 110

 #### Q2 Faire un programme qui compte le nombre de cubes qui partent de l'origine compris dans un cube 10x20x30 dont le volume est compris entre 1000 et 1500  et l'aire maximale des cotés est supérieur a 300

In [12]:
s=1000

for x in range(1,11):
    for y in range(1,21):
        for z in range(1,31):
            vol=x*y*z
            if vol>s:
                resultat=x,y,z
                
                break #break c'est pour stopé la boucle nette    
            
#Deux manière de printer la meme chose
print("le resultat est =",resultat,"et volume=",vol) 
print("le resultat est = {} et volume= {}".format(resultat,vol))

le resultat est = (10, 20, 6) et volume= 1200
le resultat est = (10, 20, 6) et volume= 1200

### Opérations avec les listes

Declaration

In [53]:
l=[]
l=[1,2,3]
l=["jacques","paul"]
l=['jacques',1,1.098891]

print(l)

['jacques', 1, 1.098891]

Declaration compacte: prends que deux arguments un for obligatoire et eventuellement un if

In [56]:
l=[ i for i in range(0,10,2) if i%4==0]
l

[0, 4, 8]

Longueur d'une liste  (length)

In [59]:
print("l=",l," et longeur=",len(l))

l= [0, 4, 8]  et longeur= 3

Operations avec les listes

In [62]:
[1,2]+[4]

[1, 2, 4]

In [61]:
l1=[['jacques','90 ans','retraité',1000]]
l2=[['guillaume','22 ans','etudiant',3000]]
l1+l2

[['jacques', '90 ans', 'retraité', 1000],
 ['guillaume', '22 ans', 'etudiant', 3000]]

In [63]:
[1,2]*2

[1, 2, 1, 2]

Chercher un élément, l'Indexing

In [66]:
l=['jacquzq',1,19000]

In [77]:
l[0],l[2]

('jacquzq', 19000)

In [78]:
l.append(4)
l

['jacquzq', 1, 19000, 4]

In [82]:
l=['jacquzq',1,19000]
l.insert(60,2)
l.insert(0,'paul')
l

['paul', 'jacquzq', 1, 19000, 2]

In [84]:
l=['jacquzq',1,19000]
l.pop()
print(l)

['paul', 'jacquzq', 1]

In [86]:
l=['jacquzq',1,19000]
l.pop(1)
print(l)

['jacquzq', 19000]

tri

In [14]:
l=[3,1,19]
l=sorted(l)
l

[1, 3, 19]

Derniers éléments d'une liste

In [15]:
l[len(l)-1]

19

Plus propre :

In [92]:
l[-2] , l[-1]

(3, 19)

Reverser une liste

In [106]:
l=[15,2,13,42,5,69]
l=l[::-1]
l

[69, 5, 42, 13, 2, 15]

In [116]:
l=[15,2,13,42,5,69]
l.sort()
l
l=[15,2,13,42,5,69]
l=sorted(l)
l

[2, 5, 13, 15, 42, 69]

Conversion texte à liste

In [119]:
text="Jesus se fait crucifier"
text.split("e")

['J', 'sus s', ' fait crucifi', 'r']

Conversion liste à texte

In [124]:
l=["jean", 'is', "suce"]
text=" ".join(l)
text

'jean is suce'

Exerice listes

In [18]:
l=[1,4,9,0,2]
l=sorted(l)
maxx=l[-1]
minn=l[0]

print("Le max est {} et le min est {} et la somme de la liste est {} ".format(maxx,minn,sum(l)))

Le max est 9 et le min est 0 et la somme de la liste est 16

Les solutions pour comparer les resultats d Anys avec William

In [20]:
lst=np.random.random(102)
lst=list(lst)
med=np.percentile(lst,50)

L'Exercice:

 - 0- Trier la liste par ordre décroissant
- 1- Renvoyer la médiane d'une liste
- 2- Insérer médiane+0.1 au bon endroit dans la liste triée 
- 3- Tri a bulle  Faire une fonction qui inverse les éléments d'une liste deux à deux en partant du premier element jusqu'a ce que la liste soit triée

In [137]:
l=sorted(lst)
l=l[::-1]
print(l)

[0.9981081256463705, 0.9895034486642915, 0.9859891467881363, 0.9859593258701227, 0.9848823426610017, 0.9709566885380024, 0.9618267903459086, 0.9571575704731293, 0.9548039296747275, 0.9509485585497811, 0.949104984123394, 0.9421949408859198, 0.9384915293284809, 0.9277695088054205, 0.9180920444359179, 0.8830001448538461, 0.8394274168528327, 0.8286601456454842, 0.7554688236056109, 0.7550468045901457, 0.7339163563744363, 0.730526208593325, 0.7274133411838473, 0.714039136204951, 0.711034362965901, 0.7050932393841498, 0.6894317650797418, 0.6807360831132321, 0.6749396237929177, 0.6718813514377867, 0.6705735455969009, 0.669041139931034, 0.6658826364671416, 0.6542792532757927, 0.6423257444013112, 0.6379632758194046, 0.6357947308085721, 0.6345824496701002, 0.6328424784980233, 0.6275010742004143, 0.60312930671374, 0.5977610113789525, 0.5904469703756171, 0.5805678978882195, 0.5546012634515923, 0.5524570759460157, 0.5323639161818083, 0.5219886647384435, 0.5146265746646085, 0.5039813164199287, 0.5029543314997426, 0.49640151738616367, 0.4787598003601, 0.4762315562893221, 0.47373651578388243, 0.4663115944806613, 0.44952906749187826, 0.4491323073390161, 0.43897973320827444, 0.4160021076958764, 0.3956424311186669, 0.3714746965568082, 0.3705113441626663, 0.34742484512591676, 0.34305088421995134, 0.3280602945786796, 0.32610315197376105, 0.3009652672480202, 0.30093393878093844, 0.2947846860951231, 0.2868371119956742, 0.2707720594940777, 0.25987747054304344, 0.2200348414958282, 0.20934773284474983, 0.2056797157487782, 0.19873111329786097, 0.19260851775943866, 0.17652813610816465, 0.17330839582608026, 0.17310233450516954, 0.17038923078326174, 0.16670745086123206, 0.16043489322167515, 0.15365018402575537, 0.1422536662602336, 0.1338561760295527, 0.12976522242196364, 0.1265698516003838, 0.11462970323893262, 0.09885541392236541, 0.08540914340583639, 0.0745083564836031, 0.07114739125187175, 0.06762655121151495, 0.06280743841553127, 0.06196289373088726, 0.0613770090594955, 0.03115036029870455, 0.02949818013195038, 0.02518865772043899, 0.006971580196685978]

In [151]:
long=len(l)
if long%2==1:
    x=(long/2)-.5
    x=int(x)
    mediane=l[x]
else:
    x=long/2
    x=int(x)
    y=x-1
    mediane=(l[x]+l[y])/2
    
print(mediane)
J=mediane+0.1
i=0
while (l[i]>J):
    i+=1
l.insert(i,J)
print(l==sorted(l)[::-1])

0.4996779244429531
True

In [152]:
l=[19,13,1,18,100]

i=0
j=i+1 .. j=4

i=1
j=+1 ..

In [154]:
for i in range(len(l)):
    for j in range(i+1,len(l)):
        if l[i]>l[j]:
            l[i],l[j]=l[j],l[i]
l

[1, 13, 18, 19, 100]

# Les dictionnaires

### Declaration

In [86]:
d={}

### Ajout d'element

In [87]:
d['Nom']="Paul"
d['Notes']=19
d['Taille']=181

### Recuperer les cles , les valeurs et le tout

In [88]:
list(d.keys())

['Nom', 'Notes', 'Taille']

In [89]:
list(d.values())

['Paul', 19, 181]

In [90]:
list(d.items())

[('Nom', 'Paul'), ('Notes', 19), ('Taille', 181)]

In [91]:
for (i,c) in d.items():
    print(i,c)

Nom Paul
Notes 19
Taille 181

### Accéder à un élément du dictionnaire avec sa clé

In [92]:
d['Taille']

181

### Updater une valeur avec sa clé : probleme on ne sait pas si cette clé existe

In [93]:
valeur_par_defaut=87
d.get('Poids',valeur_par_defaut)

87

In [94]:
d.get('Taille',valeur_par_defaut)

181

#### Si on veut augmenter une variable de 1 si elle est définie ou si elle n'est pas définie l'initialiser à 1 on peut faire comme ça

In [95]:
d['nombre de succes']=d.get('nombre de succes',0)+1

In [96]:
d['nombre de succes']

1

### Pourquoi c'est utile: Exemple : On peut compter les occurence de lettre dans un string

In [99]:
chr(97),chr(97+25)
letters=[chr(i) for i in range(97,123)]
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [103]:
dic={}
string='je suis Jonathan et je mange des épinards crémeuses et fongiformes'
letters=[chr(i) for i in range(97,123)]
for i in string:
    dic[i]=dic.get(i,0)+1

print(dic)

{'j': 2, 'e': 9, ' ': 10, 's': 7, 'u': 2, 'i': 3, 'J': 1, 'o': 3, 'n': 5, 'a': 4, 't': 3, 'h': 1, 'm': 3, 'g': 2, 'd': 2, 'é': 2, 'p': 1, 'r': 3, 'c': 1, 'f': 2}